# Secretos — NUNCA commitear
**/secret.yaml
**/.env
**/.env.local
*.env

# Backups locales
backups/

# Archivos de sistema
.DS_Store
*.swp
*.swo

# kubeconfig local
kubeconfig
*.kubeconfig

# Secretos de values.yaml
k8s/monitoring/prometheus-grafana/values.yaml

# Dns
k8s/infra/cloudflare-dns/secret.yaml
